.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #555555;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#faster-btn {
  background-color: #FE7F2D;
  outline: 1px solid #CB4C0A;
}

#faster-btn:hover {
  background-color: #CB4C0A;
}

#slower-btn {
  background-color: #233D4D;
  outline: 1px solid #08071B;
}

#slower-btn:hover {
  background-color: #08071B;
}

.button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  outline: 2px solid;
}

.button:active {
  transform: scale(0.95);
}